@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .htmx-indicator {
    @apply invisible hidden;
  }

  .htmx-request.htmx-indicator {
    @apply visible flex flex-1 flex-col;
  }

  .nav-button {
    @apply transition-all mt-2 inline-flex justify-center py-3 px-6 bg-gray-900 border border-white/[0.11] rounded-full shadow-sm tracking-wider text-white focus:outline-none hover:bg-gray-700;
  }

  .nav-button.active {
    @apply bg-gray-700;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  @keyframes slide-from-bottom {
    from {
      transform: translateY(90px);
    }
  }

  @keyframes slide-to-up {
    to {
      transform: translateY(-180px);
    }
  }

  ::view-transition-old(slide-it) {
    animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
  }
  ::view-transition-new(slide-it) {
    animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in;
  }

  .fade-in-transition {
    view-transition-name: slide-it;
  }
}
