{{ define "topbar" }}
<header
  class="bg-white flex divide-y p-5 flex-1 text-blue-600 mx-auto max-w-7xl justify-center items-center border-b border-slate-200"
>
  <nav class="flex flex-1 justify-center">
    <h1 class="text-2xl font-medium text-center">Quiz App</h1>
  </nav>
</header>
{{ end }}
