package views

import (
	"htmxgo/models"
	layouts "htmxgo/views/layout"
	components "htmxgo/views/components"
)

templ Home(user *models.UserModel) {
	@layouts.MainLayout("hQuiz") {
		if user != nil {
			@components.Dashboard(user)
		} else {
			@components.Login()
		}
	}
}
