package views

import (
	"htmxgo/models"
	layouts "htmxgo/views/layout"
	components "htmxgo/views/components"
)

templ Home(user *models.UserModel) {
	@layouts.MainLayout("QuizApp - Home") {
		if user != nil {
			<h1>You're logged in.</h1>
		} else {
			@components.Login()
		}
	}
}
