package views

templ MainLayout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{ title }</title>
			<meta charset="UTF-8"/>
			<meta name="description" content="Online Trivia Web-App"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
			<script src="/assets/scripts/htmx.min.js"></script>
			<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
			<script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/sse.js"></script>
			<link rel="stylesheet" href="/assets/styles/index.css"/>
		</head>
		<body class="bg-gray-900 h-dvh max-h-dvh overflow-hidden align-stretch flex flex-col justify-between antialiased text-white/[0.9]">
			{ children... }
		</body>
	</html>
}
