package views

import (
	"htmxgo/models"
	components "htmxgo/views/components"
	layout "htmxgo/views/layout"
)

templ Dashboard(user *models.UserModel) {
	<div class="flex flex-col flex-1">
		@components.UserCard(user)
		<div>
			<div class="flex justify-center m-4 py-3 px-4 rounded-full bg-white text-gray-600 font-normal">
				<h1 class="text-xl">Arena Quiz in <span class="font-bold" hx-ext="sse" sse-connect="/event-stream" sse-swap="message"></span></h1>
			</div>
		</div>
		<div id="tabContainer" class="flex flex-col flex-1">
			@components.ListTxtLoader()
			@layout.TabLayout()
		</div>
	</div>
}
